In [ ]:
C2N←{⊃(//⎕VFI ⍵)}
C2N0←{⊃⌽⎕VFI ⍵}
sales02←12 5⍴1835.2 1667.2 966.721 3378.24 2286.72 1649.9 1427.3 963.9 3103.38 2070.6 1772.8 1802.4 1159.68 3542.4 2208.96 1771.5 1695 1010.7 2809.35 2240.1 1944.8 1816.45 1155.66 3595.5 2380.68 1741.65 1933.75 1176.06 3571.02 2292.96 2057.4 2065.5 1199.34 3363.12 2432.16 2129.4 1814.4 1094.04 3664.44 2333.88 1816.2 1910.7 1109.16 3551.04 2458.08 2069.1 2075.4 1332.72 3866.94 2437.56 2019.6 2093.4 1268.46 3570.48 2423.52 2016 2120.4 1224.72 3465.18 2487.24
months←12 3⍴'JanFebMarAprMayJunJulAugSepOctNovDec'
items←'     gas     oil     tires   access  other  '
Align←{(1+-⌈/≢¨,⍵)↑¨⍵}

Experiment with the two following sets of expressions to demonstrate that numeric text (digits, decimals, etc. enclosed within quotes) behaves differently from the numbers it represents:

In [ ]:
n←123 456
⍴n
2×n
n,n

In [ ]:
c←'123 456'
⍴c
2×c
c,c

The following examples illustrate the use of a primitive function which acts on numbers to produces character (text) representations of those numbers, as well as the defined functions `C2N` (which stands for "character to number") and `C2N0` (which stands for "character to number with zero") that convert character vectors to numbers.

In [ ]:
na←C2N c
⍴na
2×na
na,na

In [ ]:
ca←⍕n
⍴ca
2×ca
ca,ca

In [ ]:
C2N c,c

In [ ]:
C2N c,' ',c

What is the difference in what these two functions do?

In [ ]:
C2N c,' text ',c

In [ ]:
C2N0 c,' text ',c

NOTE: The primitive function `⍎`, which looks like an inverse to `⍕`, can do character-to-number conversion, but it does much more than that, and its power can be dangerous. Its use for simple conversion is therefore not recommended, and instruction in its use is saved for a more advanced course.

Reports may be produced by catenating textual information with a character representation of the matrix of numeric data:

In [ ]:
sales02  ⍝ A table of monthly sales for 2002.

In [ ]:
msales←months,' ',⍕sales02
msales

But there’s a problem: The default format omits trailing zeros in the decimal part, but we want them in a report of cash amounts.

There is also a solution: The format function can be given a left argument to override this default.

The left argument of `2` specifies display of exactly 2 decimals.

In [ ]:
msales←months,' ',2⍕sales02
msales

Next we want to put headings on the columns

In [ ]:
report←items,[1]msales
report

But now there’s another problem. The size of the numbers in real sales data can vary. The column width, counted as  characters, varies with the number of digits, with the result that the column headings might not line up properly. Again, the format function provides a solution, allowing us to specify a column width in addition to the number of decimals.

In [ ]:
msales←months,' ',8 2⍕sales02

In [ ]:
report←items,[1]msales

In [ ]:
report

This is the traditional way to generate a report, and it’s useful, but it lacks flexibility. Nested arrays -- arrays with deeper structure -- can be helpful in that regard.

In [ ]:
Months←'Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec'
Items←'Gas' 'Oil' 'Tires' 'Accessories' 'Other'

In [ ]:
≢¨Items

These labels and headings are vector of vectors, with no added blanks.

Here the **shape** function has been used with the **each** operator to show the shapes of the individual elements of `Items`, each of which is a separate text vector.

In [ ]:
Report←(' ',Months),Items,[1] 2⍕¨sales02
⍴Report

Is the added space necessary? Why?

Explain the width of 6.

Here each number has been formatted separately, so that its text representation becomes a single element in a single column of a matrix. Appending the headings -- also single elements -- to the top of this matrix insures that they will always line up with the columns of data, even if you use different item names.

There are two things left to do:

`Align` right-aligns the formatted numbers.

In [ ]:
Report←(' ',Months),Items,[1] Align 2⍕¨sales02
⍴Report

Monadic `⍕` produces a simple (non-nested) text representation of *any* array.

In [ ]:
Report←⍕(' ',Months),Items,[1] Align 2⍕¨sales02
⍴Report

In [ ]:
Report