In [1]:
EnglishAlphabet←'abcdefghijklmnopqrstuvwxyz'
DanskAlfabet←'abcdefghijklmnopqrstuvwxyzæøå'

The English alphabet has 26 letters. The Danish alphabet has 29.

In [2]:
EaLen←≢EnglishAlphabet
DaLen←≢DanskAlfabet

The greater of the two lengths:

In [3]:
EaLen⌈DaLen

And the lesser:

In [4]:
EaLen⌊DaLen

Does the English alphabet have fewer letters than the Danish?

In [5]:
EaLen<DaLen

Yes.

Are their lengths equal?

In [6]:
EaLen=DaLen

No.

What are the meanings of the following sentences?

- `EnglishAlphabet` has 26 letters and `DanskAlfabet` has 29.
- `EnglishAlphabet` has 15 letters and `DanskAlfabet` has 12.
- `'EnglishAlphabet'` has 15 letters and `'DanskAlfabet'` has 12.

The first two of the above sentences present an ambiguity. The third sentence shows the common way of resolving the ambiguity, by using quotation marks to indicate a reference to the sequence of letters which make up the word, rather than to the meaning that the word represents. APL uses this same convention to distinguish between names, which represent values, and text, the characters which represent the name itself. If it's enclosed in quotes, APL assumes that it's text; if not, it's assumed to represent a value.

But note that the display doesn’t show the quotes.

In [7]:
series←24.6 3 17
word←'series'

In [8]:
≢series

In [9]:
≢'series'

In [10]:
≢word

In [11]:
text←'here are some words'

In [12]:
⍴text

In [13]:
nonsense←'JanFebMarAprMayJunJulAugSepOctNovDec'
months←12 3⍴nonsense

In [14]:
⌽text

In [15]:
⌽[1]months

In [16]:
⌽[2]months

In [17]:
'*',[2]months

In [18]:
' ',[2]months

In [19]:
,months

In [20]:
,' ',[2]months

The comma is used here to denote both a **monadic** function (which applies to one argument) and a dyadic function (which applies to two arguments). What are the names of these two functions denoted by the comma?