To start with, we'll get back our variables from the last lesson.

In [2]:
series←⍳6
table←2 3⍴series
seriesoftables←2 3 4⍴⍳24

For each expression below, describe what it does. If necessary, consult the hints which follow certain groups of expressions:

In [3]:
+/series

In [4]:
⌈/series

In [5]:
⌈/3 1 4 2

In [6]:
⌊/series

In [7]:
+/[1]table

In [8]:
+/[2]table

In [9]:
a←seriesoftables

In [10]:
+/[1]a

In [11]:
+/[2]a

In [13]:
+/[3]a

**HINT**: Examine the shapes of the arguments and results, i.e., `⍴A` and `⍴+/[1] A`, etc.

In [14]:
series,series

In [15]:
table,[1]table

In [16]:
table,[2]table

If the axis specification is omitted, the function is always applied along the **last axis**, i.e. the rows:

In [17]:
table,table

In [18]:
a,[1]a

In [19]:
a,[2]a

In [20]:
a,[3]a

In 3-D array, the last axis is the third. In a matrix (2-dimensional array) such as `table`, it is the second.

In [21]:
a,a

Vectors are 1-dimensional, so this also works, but the `[1]` is unnecessary

In [22]:
series,[1]series

Execute `?6` several times and try to determine the use of the question mark. Then enter expressions such as `2 3⍴9` and `M←?2 3⍴9` to see how it applies to a **matrix** (table).

In [34]:
?6