In [1]:
Countries←'Saudi Arabia' 'Canada' 'Nigeria' 'Venezuela' 'Mexico' 'Other'
countries←↑Countries
oil←10000+?7 6 12⍴75000
oil97←oil[1;;]
oil98←oil[2;;]
EnglishAlphabet←'abcdefghijklmnopqrstuvwxyz'

In [2]:
i8←⍳8
tenprimes←2 3 5 7 11 13 17 19 23 29
word←'talkshow'
family←'mother' 'father' 'child'
mat←5 5⍴⍳25

What do these functions do?

In [3]:
4↑word

What are their names

In [4]:
5↓word

In [5]:
¯4↑word

In [6]:
¯3↓word

Of course, they work on any vector:

In [7]:
4↓i8

In [8]:
¯1↑family

They also on higher-rank arrays:

In [9]:
3 ¯2↑mat

Use these functions to select the sequence `3 4 5` from `i8`.

Then select the center `3×3` square from `mat`. Do it first using only take, then using only drop, then both in one expression.

Locate the primes in `i8`.

In [10]:
p←i8∊tenprimes

And select them.

In [11]:
p/i8

In [12]:
p/word  ⍝ This is probably just a coincidence

Do you see why the following selects the even numbers?

In [13]:
(0=2|i8)/i8

In [14]:
0 0 1 0 0 0 1 1/word

In [15]:
0 1 2 0 0 0 1 1/word

What is the name of that function?

In [16]:
u←1 0 1 0 1

Compare each of the following with `mat` and explain them

In [17]:
u/[2]mat

In [18]:
u/[1]mat

In [19]:
u/mat

Names of the 5 major non-US oil exporting nations, plus "Other":

In [20]:
countries

United States oil imports for 1997 and 1998:

In [21]:
oil97

In [22]:
oil98

In [23]:
z←oil98
c←(+/z)>1e6

In [24]:
+/c

In [25]:
c/[1] z

The result is an **empty matrix**. With no rows, there’s nothing to display.

In [26]:
⍴c/[1] z

In [27]:
c/[1] countries

This time we use a more reasonable crtierion:

In [76]:
c←(+/z)>500e3

In [77]:
c/[1]countries,+/z

See if you can select the central 9 cells of `mat` again, but this time using **replicate** (`/`)

Note that `/` has two distinct uses. With left and right arguments, it is the **replicate** function, but in combination with another function to its left it is the **reduce** operator. It forms a new function, such as sum or product.

In [30]:
word[6 7 8]

In [31]:
word[1 2 3 3]

In [32]:
(word[6 7 3 3 7 8])(word[5 1 2 3 4])

In [33]:
t←word⍳'saw'

In [34]:
word[t]

In [35]:
tt←EnglishAlphabet⍳'saw'

In [36]:
EnglishAlphabet[tt]

Compare `t` and `tt`

In [37]:
'saw'⍳'saw'

In [38]:
'hollow'⍳'hollow'

Is that the result you expected? Can you explain it?

Try to determine what values can be used for indexing.

Experiment with expressions such as `'aelt'[4 1 4 4 3 2 4 1 3 2]` and `'.,:!'[5 7⍴1 2 3 4 3 2 1]`

In [39]:
mat[2 4;1 3 5]

In [40]:
mat[2;]

In [41]:
mat[;1 3]

In [79]:
oil4yrs←oil[1 2 3 4;;]  ⍝ Years from 1997 to 2000 (compare oil4years with oil and oil97)
⍴oil4yrs

In [43]:
sum98←+/oil98

In [44]:
sum98

In [45]:
⍋sum98

In [46]:
sum98[⍋sum98]

In [47]:
⍋countries

In [48]:
countries[⍋countries;]

Compare these two tables to see that the relationship between the countries and quantities has been maintained:

In [49]:
(countries,oil98)[⍋countries;]

In [50]:
(countries,oil98)[⍋sum98;]

When dealing with numbers, we often want to see the largest first.

In [51]:
sum98[⍒sum98]

In [52]:
(countries,oil98)[⍒sum98;]

This applies `-/` in successive 2-wide "windows".

In [53]:
2 -/ tenprimes

The negative left argument reverses the contents of each “window” before applying `-/`. This subtracts the first from the second for the preferred result:

In [54]:
¯2 -/ tenprimes

A table of month-over-month increases in imports:

In [55]:
¯2 -/ oil97

In [80]:
cix←Countries⍳⊂'Canada'  ⍝ The index of Canada in Countries

A table of year-over-year increases in imports from Canada.

In [57]:
¯2 -/[1] oil[;cix;]

Write a function `Diff` to take differences like the above, but where a left argument specifies the axis along which the differences are to be taken. Test it using different left arguments, and `oil` as the right argument.

In [58]:
(3⊃tenprimes)≡tenprimes[3]

**Index** and **pick** give different results when selecting from an array with **nested** structure.

In [81]:
(3⊃Countries)≡Countries[3]

In [82]:
3⊃Countries

In [83]:
⍴3⊃Countries

Each element of `Countries` is itself a scalar, which contains a text vector.  
**Index** selects the element.  
**Pick** selects the element’s contents

In [84]:
⍴Countries[3]

In [63]:
Countries[3]

In [64]:
t←Countries family tenprimes

In [65]:
3⊃t

**Pick** with a vector left argument works like a series of picks.

In [66]:
3⊃3⊃t

In [67]:
3 3⊃t

But you need to be careful of the ordering.

In [85]:
1⊃2⊃t

In [86]:
1 2⊃t

In [70]:
2 1⊃t

In [71]:
(2 1 4⊃t)≡4⊃1⊃2⊃t

There are a few APL primitive functions which locate and select in one operation.

In [87]:
∪'tattletale'  ⍝ Uniqe elements

In [88]:
∪3 5 1 9 3 2 5 5 8 4 1

In [89]:
's p  a   c  e d _ o  u t'~' '

In [75]:
'trapshoot'~'option'