[Lesson 1](#Lesson 1: Names and Expressions)

# Lesson 1: Names and Expressions

Type a single number, and execute:

In [ ]:
5

In [ ]:
12.436

Try a series of numbers. In APL, such a series is called a **vector**:

In [ ]:
4 31.0 15.63 10

In [ ]:
4      31.0  15.63    10

The result of an expression is its value:

In [ ]:
14+9

In [ ]:
14-9

Values can also be given names:

In [ ]:
length←4
width←2.5

Using the names is equivalent to using their values

In [ ]:
length width

In [ ]:
area←length×width

In [ ]:
area

In [ ]:
length×width

In [ ]:
4×2.5

In [ ]:
height←5.55
volume←height×area

In [ ]:
volume

In [ ]:
height×length×width

Numbers and names can be used together:

In [ ]:
5.55×length×width

In [ ]:
height 4 2.5

Vectors can also be given names:

In [ ]:
length←8 7 6 5
width←2 3 4 5
dimensions←height length width

In [ ]:
dimensions

Functions also apply to vectors:

In [ ]:
length×width

Parentheses specify the order of evaluation for an expression

In [ ]:
perimeter←2×(length+width)

In [ ]:
perimeter

A yield of 12% for 3 years

In [ ]:
1.12×1.12×1.12

In [ ]:
1.12*3

Capital from multiple investments

In [ ]:
c←20 80 120×(1.12*3)

In [ ]:
c

Rounded down to the nearest dollar (or euro, pound, etc):

In [ ]:
⌊c

Rounded to the nearest dollar:

In [ ]:
⌊0.5+c

Rounded to the nearest cent:

In [ ]:
(⌊0.5+c×100)÷100

The purpose of any specific example is to provide a basis for discovering the idea of the general case. Thus the example `1.12*3` should suggest that any pair of numbers ay be used with the power function denoted by the star.

What are the meanings of `9*2`, `9*0.5` and `6*0.5`?

Modify the expression below using your own numbers:

In [ ]:
9*2

What is the  meaning of `⌈`, a new symbol, but one that is graphically similar to `⌊`? Many APL symbols are iconic, visual indications of their function. These names can be just as *meaningful* as English names like sort, reverse, and average.

## Terminology

Symbols such as `+` and `×` are **functions** which apply to **arguments** to produce **results**. Thus `8÷2` means that the divide function, `÷`, is applied to the left argument `8` and the right argument `2` to produce the result `4`, whcih is the quotient of `8` divided by `2`.

# Lesson 2: Experiments

It is often easiest to gain an understanding of a function or expression by using it in a few examples, and then briefly formulating what it does. For each expression below, see if you can describe the point that it illustrates. For example:

In [ ]:
⍳10

The function `⍳` produces a sequence of positive integers up to its argument

In [ ]:
.2×⍳10

`S×⍳N` returns a sequence of `N` elements, each `S` greater than the previous

Execute the lines below. Change values, experiment and then describe what the line does.

In [ ]:
3+0.2×⍳10

In [ ]:
series←⍳6
table←2 3⍴series

To view the values `series` and `table`, enter either of their names and execute

In [ ]:
series×series

In [ ]:
table×table

In [ ]:
2×table

In [ ]:
seriesoftables←2 3 4⍴⍳24

In [ ]:
5⍴1 0

In [ ]:
5 5⍴1 0

In [ ]:
4 4⍴1 0 0 0 0

In [ ]:
⍴series

In [ ]:
⍴table

In [ ]:
⍴seriesoftables

In [ ]:
series,7 8

In [ ]:
6-⍳11

In [ ]:
¯2×(6-⍳11)

### Terminology

The symbols `×` and `*`, cross and star, denote the functions **times** and **exponentiation**. When one reads APL expressions, it is best to use the name of the function denoted, rather than the name of the symbol, e.g., "three times four" rather than "three cross four"

This aids understanding when a function has both monadic (one argument) and dyadic (two arguments) meanings, such as `⍴` (the Greek letter *rho*) in the above examples. The expression `2 3⍴series` should normally be read as "2 3 reshape (of) series" rather than "2 3 rho series", while `⍴series` should be read as "shape (of) series", not "rho series". And `series,7 8` should be read as "series catenated with 7 8", or just "series with 7 8", but not "series comma 7 8".

Learning the functions' names instead of -- or together with -- the symbols' names makes it easier to both understand and talk about APL expressions.

# Lesson 3: More Experiments

For each expression below, describe what it does. If necessary, consult the hints which follow certain groups of expressions:

In [ ]:
+/series

In [ ]:
⌈/series

In [ ]:
⌈/3 1 4 2

In [ ]:
⌊/series

In [ ]:
+/[1]table

In [ ]:
+/[2]table

In [ ]:
a←seriesoftables

In [ ]:
+/[1]a

In [ ]:
+/[2]a

In [ ]:
+/[3]a

**HINT**: Examine the shapes of the arguments and results, i.e., `⍴A` and `⍴+/[1] A`, etc.

In [ ]:
series,series

In [ ]:
table,[1]table

In [ ]:
table,[2]table

If the axis specification is omitted, the function is always applied along the **last axis**, i.e. the rows:

In [ ]:
table,table

In [ ]:
a,[1]a

In [ ]:
a,[2]a

In [ ]:
a,[3]a

In 3-D array, the last axis is the third. In a matrix (2-dimensional array) such as `table`, it is the second.

In [ ]:
a,a

Vectors are 1-dimensional, so this also works, but the `[1]` is unnecessary

In [ ]:
series,[1]series

**HINT**: Examine the shapes of the arguments and results.

Execute `?6` several times and try to determine the use of the question mark. Then enter expressions such as `2 3⍴9` and `M←?2 3⍴9` to see how it applies to a **matrix** (table).

In [ ]:
?6

# Lesson 4: Characters (Text)

In [ ]:
EnglishAlphabet←'abcdefghijklmnopqrstuvwxyz'
DanskAlfabet←'abcdefghijklmnopqrstuvwxyzæøå'

The English alphabet has 26 letters. The Danish alphabet has 29.

In [ ]:
EaLen←≢EnglishAlphabet
DaLen←≢DanskAlfabet

The greater of the two lengths:

In [ ]:
EaLen⌈DaLen

And the lesser:

In [ ]:
EaLen⌊DaLen

Does the English alphabet have fewer letters than the Danish?

In [ ]:
EaLen<DaLen

Yes.

Are their lengths equal?

In [ ]:
EaLen=DaLen

No.

What are the meanings of the following sentences?

- `EnglishAlphabet` has 26 letters and `DanskAlfabet` has 29.
- `EnglishAlphabet` has 15 letters and `DanskAlfabet` has 12.
- `'EnglishAlphabet'` has 15 letters and `'DanskAlfabet'` has 12.

The first two of the above sentences present an ambiguity. The third sentence shows the common way of resolving the ambiguity, by using quotation marks to indicate a reference to the sequence of letters which make up the word, rather than to the meaning that the word represents. APL uses this same convention to distinguish between names, which represent values, and text, the characters which represent the name itself. If it's enclosed in quotes, APL assumes that it's text; if not, it's assumed to represent a value.

But note that the display doesn’t show the quotes.

In [ ]:
series←24.6 3 17
word←'series'

In [ ]:
≢series

In [ ]:
≢'series'

In [ ]:
≢word

In [ ]:
text←'here are some words'

In [ ]:
⍴text

In [ ]:
nonsense←'JanFebMarAprMayJunJulAugSepOctNovDec'
months←12 3⍴nonsense

In [ ]:
⌽text

In [ ]:
⌽[1]months

In [ ]:
⌽[2]months

In [ ]:
'*',[2]months

In [ ]:
' ',[2]months

In [ ]:
,months

In [ ]:
,' ',[2]months

The comma is used here to denote both a **monadic** function (which applies to one argument) and a dyadic function (which applies to two arguments). What are the names of these two functions denoted by the comma?

Try ravelling `table` and `seriesoftables`

# Lesson 5: APL Errors

If an expression entered in **APL** contains an error -- i.e., something that APL can't make sense of, -- it will display a message indicating what sort of problemhad, and repeat the input line with a caret underneath to indicate where (proceeding right to left) it encountered the problem.

A `SYNTAX ERROR` is an error in the way the elements of the language are
combined, like a grammatical mistake in English.

In [ ]:
oops←'this lacks a closing quote

In this case, an opening quote without a closing quote lacks meaning.

Another common error is a `VALUE ERROR`, using a name which has not yet been assigned to any value. A `VALUE ERROR` is often the result of a typing error.

In [ ]:
value←'priceless'
balue

A `DOMAIN ERROR` occurs when a function is applied to an argument outside if its domain. For instance `+` cannot act on character vectors:

In [ ]:
'one'+'one'

When a function is applied two vectors, you can get a `LENGTH ERROR`.

In [ ]:
1 2+4 5 6

The left argument has two elements, while the right argument has three. There is no way to pair them up

# Lesson 7: More Characters and Names and Structure

In [ ]:
oil←2 1 3⍉↑(1000×35 25 25 40 30 50)+?7 12∘⍴¨1000×35 30 10 12 29 53

In [ ]:
extra←'    extra     spaces'

In character vectors, spaces are considered part of the data, so multiple spaces are retained in the display.

In [ ]:
extra

In [ ]:
'extra'     'spaces'

But what happened here?

The result isn’t a single text vector, but a vector of text vectors. The boxed display indicates a difference in structure.

Be careful of the difference between text, which is enclosed in quotes, and names, which are not.

In [ ]:
'extra'     spaces

Forgetting to enclose text in quotes can produce errors.

Including errors that are still valid APL, and therefore give undesired results:

In [ ]:
extra     'spaces'

Multiply nested structure is possible:

In [ ]:
nummat←3 3⍴⍳9
deep←((2 3) extra) nummat (⍳5)

Any parenthesis pair with its enclosed expression has the value of the enclosed expression. Thus parentheses can be used to build structured data.

In [ ]:
deep

A sequence of individual characters, like individual numbers or names, forms a vector.

In [ ]:
'a' 'b' 'c'

But the same vector can be formed using only a single pair of quotes.

In [ ]:
'abc'

The two are identical:

In [ ]:
'abc'≡'a' 'b' 'c'

Here each pair of quotes forms a separate vector:

In [ ]:
'ab' 'bc' 'cd'

And the result is a vector of vectors.

The **rank** (number of dimensions) and **shape** (length along each dimension) of different arrays:

In [ ]:
(≢⍴oil) (⍴oil)

In [ ]:
(≢⍴nummat) (⍴nummat)

In [ ]:
(≢⍴extra) (⍴extra)

In [ ]:
(≢⍴'a') (⍴'a')

In [ ]:
(≢⍴3.2) (⍴3.2)

Individual characters and numbers are also arrays, but arrays with no dimensions, and thus with no lengths in their shape vectors. Arrays which have no dimensions are known as **scalars**.

The shape of a scalar is an **empty vector**. An empty vector has a length (of 0), but contains no elements, while a scalar contains one element, but has no length.

There are various ways to generate empty vectors. Here are some of the simplest:

Empty character vectors:

In [ ]:
''

In [ ]:
0⍴'abc'

Empty numeric vectors:

In [ ]:
0⍴5

In [ ]:
⍬

An empty vector appended to another vector adds nothing:

In [ ]:
'abc'≡'','abc'

In [ ]:
'abc'≡'abc',''

In [ ]:
⍴⍬,3 17.2 ¯45

While the result of appending a scalar to any vector is a vector:

In [ ]:
(≢⍴4 5 9,3) (⍴4 5 9,3)

Even when the initial vector is empty.

In [ ]:
(≢⍴⍬,3) (⍴⍬,3)

But the simplest way to create a 1-element vector is by using **ravel**:

In [ ]:
⍴,3

In [ ]:
⍴,'c'

# Lesson 9: Order of Evaluation

In any expression containing multiple elements, it is necessary to have rules about the order in which the elements will be evaluated. One basic, widely used rule, which is also used by APL, is that an expression in parentheses must be evaluated before its value can be used in any expression that contains it. In fact, parentheses can be used to completely specify the order of evaluation, as in the following examples.

In [ ]:
(2×3)+(4×5)

Note that the rule governing parentheses controls not only the order in which functions are executed, but also the order in which data elements are grouped into vectors.

In [ ]:
(2 3) (4 5)

In [ ]:
(¯5+(7 2)×13) 3

In [ ]:
(((⍳3)×4)+7 1 8)-2

If parentheses were the only way to specify the order of evaluation, complex expressions would become unreadable tangles of parenthes within parentheses. To simplify writing and reading of code, other rules are needed. APL has one simple, primary rule for evaluation of expressions: Except as modified by parentheses, evaluation proceeds from right to left.

Put another way, each function’s right argument is the result of the entire expression to its right (up to an unmatched closing parenthesis) and its left argument -- if it has one -- is the single value to its left, which may be a parenthesized expression or a vector, but cannot be a function.

Progressively adding redundant pairs of parentheses which duplicate this order can make it easier to see how it works.

In [ ]:
a←10
b←13

The following four expressions are all equivalent

In [ ]:
a+3×⍳b-6

In [ ]:
a+3×⍳(b-6)

In [ ]:
a+3×(⍳(b-6))

In [ ]:
a+(3×(⍳(b-6)))

Note that the result of the above is quite different from either of these two expressions, which are different from each other.

In [ ]:
(a+3)×⍳b-6

In [ ]:
(a+3×⍳b)-6

You might think that this rule is somehow backwards, because we are used to reading and writing left-to-right, not right-to-left. But that would be a mistake. *Reading* left-to-right is *evaluation* right-to-left.

E.g., "the top half of the bottom quarter" does not mean "take the top half, and then take the bottom quarter of the result"; it means "take the bottom quarter, and then take the top half of that result". In fact, it develops its meaning in four stages from right to left:

1.  Quarter: divide into quarters;
2. Bottom: take the bottom of those;
3. Half: divide what was taken into halves;
4. Top: take the top of those.

So right-to-left *evaluation* is not "strange". It's perfectly natural.

APL does not recognise the function hierarchies of common mathematical notation, and with good reason. Mathematical notation determines its order by the kind of function, e.g. doing multiplication and division before addition and subtraction. But this is true only for a few kinds of functions, which are respresented by special symbols. For named functions, it uses the same right-to-left rule as APL. E.g., `exp sin log x` is evaluated as `exp (sin (log (x)))`. Since APL has far more primitive functions represented by graphic symbols, any hierarchy covering them all would be both arbitrary and impossible to remember. Instead, APL gives *all* functions the same priority, both primitive symbols and named functions created by the programmer, and applies the same right-to-left evaluation rule to them all.

Rules of syntax and evaluation in APL are few, fixed, and fundamental. One may need to consult documentation to know what a primitive function does, but not to know how to fit it in syntactically, nor to know in what order it will be executed.

# Lesson 10: Direct Definition of Functions

In [ ]:
oil97←oil[1;;]

Dyalog APL provides four means of creating named functions. The method presented here gives the best combination of simplicity and power for most programming needs. Functions defined in this way are known as **dynamic functions** (for reasons which need not concern us yet)

Define a function that rounds a number:

In [ ]:
R←{⌊0.5+⍵}

In [ ]:
R

In [ ]:
R 12 13 14÷3

Using the rules for order of evaluation and the meanings of `⍺` and `⍵`, explain to yourself what the function `At` does:

In [ ]:
At←{(1+⍵÷100)*⍺}

In [ ]:
SquareRoot←{⍵*0.5}

This shorter name is one commonly used:

In [ ]:
Sqrt←{SquareRoot ⍵}

In [ ]:
Beeline←{Sqrt (⍺*2)+(⍵*2)}

In [ ]:
Hypotenuse←Beeline

Compare `Sqrt` and `Hypotenuse` with `SquareRoot` and `Beeline`.

How do these pairs differ from each other, and why?

A useful procedure for developing function definitions is the following:

1. Select or construct some sample values for which the result of applying the desired function is known.
2. Define a function that contains an expression expected to give this result from the test data.
3. If the result is incorrect, revise the function to correct the error.
4. Repeat 2. and 3. as needed.

As an example, we can try to define a function `Rowsums`, to yield the sums of the rows when applied to a matrix of numbers. The matrix `oil97`, which gives United States oil imports from each of six “countries” (5 countries and “Other”, i.e., all the rest) for each month of the
year 1997, can be used as test data.

Here is the first try:

In [ ]:
Rowsums←{+/[1]⍵}
result←Rowsums oil97

In [ ]:
≢result

`result` has 12 elements, but that can't be right, because `oil97` has 12 columns, but only 6 rows.

To fix it, we change the axis:

In [ ]:
Rowsums←{+/[2]⍵}

# Lesson 11: Numbers as Text and Formatted Data

In [ ]:
C2N←{⊃(//⎕VFI ⍵)}
C2N0←{⊃⌽⎕VFI ⍵}
sales02←12 5⍴1835.2 1667.2 966.721 3378.24 2286.72 1649.9 1427.3 963.9 3103.38 2070.6 1772.8 1802.4 1159.68 3542.4 2208.96 1771.5 1695 1010.7 2809.35 2240.1 1944.8 1816.45 1155.66 3595.5 2380.68 1741.65 1933.75 1176.06 3571.02 2292.96 2057.4 2065.5 1199.34 3363.12 2432.16 2129.4 1814.4 1094.04 3664.44 2333.88 1816.2 1910.7 1109.16 3551.04 2458.08 2069.1 2075.4 1332.72 3866.94 2437.56 2019.6 2093.4 1268.46 3570.48 2423.52 2016 2120.4 1224.72 3465.18 2487.24
items←'     gas     oil     tires   access  other  '
Align←{(-⌈/≢¨,⍵)↑¨⍵}
Countries←'Saudi Arabia' 'Canada' 'Nigeria' 'Venezuela' 'Mexico' 'Other'
countries←↑'Saudi Arabia' 'Canada' 'Nigeria' 'Venezuela' 'Mexico' 'Other'

Experiment with the two following sets of expressions to demonstrate that numeric text (digits, decimals, etc. enclosed within quotes) behaves differently from the numbers it represents:

In [ ]:
n←123 456
⍴n
2×n
n,n

In [ ]:
c←'123 456'
⍴c
2×c
c,c

The following examples illustrate the use of a primitive function which acts on numbers to produces character (text) representations of those numbers, as well as the defined functions `C2N` (which stands for "character to number") and `C2N0` (which stands for "character to number with zero") that convert character vectors to numbers.

In [ ]:
na←C2N c
⍴na
2×na
na,na

In [ ]:
ca←⍕n
⍴ca
2×ca
ca,ca

In [ ]:
C2N c,c

In [ ]:
C2N c,' ',c

What is the difference in what these two functions do?

In [ ]:
C2N c,' text ',c

In [ ]:
C2N0 c,' text ',c

NOTE: The primitive function `⍎`, which looks like an inverse to `⍕`, can do character-to-number conversion, but it does much more than that, and its power can be dangerous. Its use for simple conversion is therefore not recommended, and instruction in its use is saved for a more advanced course.

Reports may be produced by catenating textual information with a character representation of the matrix of numeric data:

In [ ]:
sales02  ⍝ A table of monthly sales for 2002.

In [ ]:
msales←months,' ',⍕sales02
msales

But there’s a problem: The default format omits trailing zeros in the decimal part, but we want them in a report of cash amounts.

There is also a solution: The format function can be given a left argument to override this default.

The left argument of `2` specifies display of exactly 2 decimals.

In [ ]:
msales←months,' ',2⍕sales02
msales

Next we want to put headings on the columns

In [ ]:
report←items,[1]msales
report

But now there’s another problem. The size of the numbers in real sales data can vary. The column width, counted as  characters, varies with the number of digits, with the result that the column headings might not line up properly. Again, the format function provides a solution, allowing us to specify a column width in addition to the number of decimals.

In [ ]:
msales←months,' ',8 2⍕sales02

In [ ]:
report←items,[1]msales

In [ ]:
report

This is the traditional way to generate a report, and it’s useful, but it lacks flexibility. Nested arrays -- arrays with deeper structure -- can be helpful in that regard.

In [ ]:
Months←'Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec'
Items←'Gas' 'Oil' 'Tires' 'Accessories' 'Other'

In [ ]:
≢¨Items

These labels and headings are vector of vectors, with no added blanks.

Here the **shape** function has been used with the **each** operator to show the shapes of the individual elements of `Items`, each of which is a separate text vector.

In [ ]:
Report←(' ',Months),Items,[1] 2⍕¨sales02
⍴Report

Is the added space necessary? Why?

Explain the width of 6.

Here each number has been formatted separately, so that its text representation becomes a single element in a single column of a matrix. Appending the headings -- also single elements -- to the top of this matrix insures that they will always line up with the columns of data, even if you use different item names.

There are two things left to do:

`Align` right-aligns the formatted numbers.

In [ ]:
Report←(' ',Months),Items,[1] Align 2⍕¨sales02
⍴Report

Monadic `⍕` produces a simple (non-nested) text representation of *any* array.

In [ ]:
Report←⍕(' ',Months),Items,[1] Align 2⍕¨sales02
⍴Report

In [ ]:
Report

# Lesson 12: Select and locate

In [ ]:
oil98←oil[2;;]

In [ ]:
i8←⍳8
tenprimes←2 3 5 7 11 13 17 19 23 29
word←'talkshow'
family←'mother' 'father' 'child'
mat←5 5⍴⍳25

What do these functions do?

In [ ]:
4↑word

What are their names

In [ ]:
5↓word

In [ ]:
¯4↑word

In [ ]:
¯3↓word

Of course, they work on any vector:

In [ ]:
4↓i8

In [ ]:
¯1↑family

They also on higher-rank arrays:

In [ ]:
3 ¯2↑mat

Use these functions to select the sequence `3 4 5` from `i8`.

Then select the center `3×3` square from `mat`. Do it first using only take, then using only drop, then both in one expression.

Locate the primes in `i8`:

In [ ]:
p←i8∊tenprimes

And select them:

In [ ]:
p/i8

In [ ]:
p/word  ⍝ This is probably just a coincidence

Do you see why the following selects the even numbers?

In [ ]:
(0=2|i8)/i8

In [ ]:
0 0 1 0 0 0 1 1/word

In [ ]:
0 1 2 0 0 0 1 1/word

What is the name of that function?

In [ ]:
u←1 0 1 0 1

Compare each of the following with `mat` and explain them

In [ ]:
u/[2]mat

In [ ]:
u/[1]mat

In [ ]:
u/mat

Names of the 5 major non-US oil exporting nations, plus "Other":

In [ ]:
countries

United States oil imports for 1997 and 1998:

In [ ]:
oil97

In [ ]:
oil98

In [ ]:
z←oil98
c←(+/z)>1e6

In [ ]:
+/c

In [ ]:
c/[1] z

The result is an **empty matrix**. With no rows, there’s nothing to display.

In [ ]:
⍴c/[1] z

In [ ]:
c/[1] countries

This time we use a more reasonable crtierion:

In [ ]:
c←(+/z)>500e3

In [ ]:
c/[1]countries,+/z

See if you can select the central 9 cells of `mat` again, but this time using **replicate** (`/`)

Note that `/` has two distinct uses. With left and right arguments, it is the **replicate** function, but in combination with another function to its left it is the **reduce** operator. It forms a new function, such as sum or product.

In [ ]:
word[6 7 8]

In [ ]:
word[1 2 3 3]

In [ ]:
(word[6 7 3 3 7 8])(word[5 1 2 3 4])

In [ ]:
t←word⍳'saw'

In [ ]:
word[t]

In [ ]:
tt←EnglishAlphabet⍳'saw'

In [ ]:
EnglishAlphabet[tt]

Compare `t` and `tt`

In [ ]:
'saw'⍳'saw'

In [ ]:
'hollow'⍳'hollow'

Is that the result you expected? Can you explain it?

Try to determine what values can be used for indexing.

Experiment with expressions such as `'aelt'[4 1 4 4 3 2 4 1 3 2]` and `'.,:!'[5 7⍴1 2 3 4 3 2 1]`

In [ ]:
mat[2 4;1 3 5]

In [ ]:
mat[2;]

In [ ]:
mat[;1 3]

In [ ]:
oil4yrs←oil[1 2 3 4;;]  ⍝ Years from 1997 to 2000 (compare oil4years with oil and oil97)
⍴oil4yrs

In [ ]:
sum98←+/oil98

In [ ]:
sum98

In [ ]:
⍋sum98

In [ ]:
sum98[⍋sum98]

In [ ]:
⍋countries

In [ ]:
countries[⍋countries;]

Compare these two tables to see that the relationship between the countries and quantities has been maintained:

In [ ]:
(countries,oil98)[⍋countries;]

In [ ]:
(countries,oil98)[⍋sum98;]

When dealing with numbers, we often want to see the largest first.

In [ ]:
sum98[⍒sum98]

In [ ]:
(countries,oil98)[⍒sum98;]

This applies `-/` in successive 2-wide "windows":

In [ ]:
2 -/ tenprimes

The negative left argument reverses the contents of each “window” before applying `-/`. This subtracts the first from the second for the preferred result:

In [ ]:
¯2 -/ tenprimes

A table of month-over-month increases in imports:

In [ ]:
¯2 -/ oil97

In [ ]:
cix←Countries⍳⊂'Canada'  ⍝ The index of Canada in Countries

A table of year-over-year increases in imports from Canada.

In [ ]:
¯2 -/[1] oil[;cix;]

Write a function `Diff` to take differences like the above, but where a left argument specifies the axis along which the differences are to be taken. Test it using different left arguments, and `oil` as the right argument.

In [ ]:
(3⊃tenprimes)≡tenprimes[3]

**Index** and **pick** give different results when selecting from an array with **nested** structure.

In [ ]:
(3⊃Countries)≡Countries[3]

In [ ]:
3⊃Countries

In [ ]:
⍴3⊃Countries

Each element of `Countries` is itself a scalar, which contains a text vector.  
**Index** selects the element.  
**Pick** selects the element’s contents

In [ ]:
⍴Countries[3]

In [ ]:
Countries[3]

In [ ]:
t←Countries family tenprimes

In [ ]:
3⊃t

**Pick** with a vector left argument works like a series of picks.

In [ ]:
3⊃3⊃t

In [ ]:
3 3⊃t

But you need to be careful of the ordering.

In [ ]:
1⊃2⊃t

In [ ]:
1 2⊃t

In [ ]:
2 1⊃t

In [ ]:
(2 1 4⊃t)≡4⊃1⊃2⊃t

There are a few APL primitive functions which locate and select in one operation.

In [ ]:
∪'tattletale'  ⍝ Uniqe elements

In [ ]:
∪3 5 1 9 3 2 5 5 8 4 1

In [ ]:
's p  a   c  e d _ o  u t'~' '

In [ ]:
'trapshoot'~'option'

# Lesson 13 Replace and Fill

In [ ]:
t←'parrot'

In [ ]:
t[1]←'c'

In [ ]:
t

In [ ]:
t←⍳5

In [ ]:
t[4 2]←3 1

In [ ]:
t

In [ ]:
t←family

In [ ]:
t

In [ ]:
(3⊃t)←'daughter'

In [ ]:
t

In [ ]:
t[3]←⊂'son'

In [ ]:
t

In [ ]:
t←⍳5

In theory, any selection on a single variable can be used to the left of the assignment arrow to produce selective assignment.

In [ ]:
(1 0 1/2↓t)←100 200

In [ ]:
t

In fact, Dyalog APL supports many complex selections for assignment:

In [ ]:
(1 0 1/t[3 4 5])←67 53

In [ ]:
t

A couple of APL primitive functions create additional, **fill elements**

In [ ]:
8↑⍳5

When the left argument to `↑` specifies taking more than is there, it’s known as **overtake**.

In [ ]:
¯9↑'spaces'

In [ ]:
mat←5 5⍴⍳25

In [ ]:
7 7↑¯6 ¯6↑mat

The zeros in the left argument to **expand** specify where to insert **fill elements**:

In [ ]:
1 0 1 0 1 0 1\'abcd'

In [ ]:
1 0 1 0 0 1 0 0 0 1\⍳4

In [ ]:
1 0 1 0 1\[1]3 3⍴'JanPatSue'

In [ ]:
exp←1 0 1 0 1

In [ ]:
t←exp\[1]3 3⍴'JanPatSue'

In [ ]:
((~exp)/[1]t)←'*'

In [ ]:
t

# Lesson 14: Reading APL Expressions

To read a simple but unfamiliar expression such as `a∘.+b` (i.e., to understand what it does), use it with a variety of arguments, and try to construct a rule that describes how the results are constructed from the arguments.

In [ ]:
a←2 3 4
b←4 3 2 1

In [ ]:
a∘.+b

You should also try similar expressions, such as `a∘.×b`, `a∘.×b` and `a∘.,b`

The matrices produced by these "**outer products**" are **function tables**, like the **addition table** and **multiplication** table learned in the early school grades.

We can decorate such a table with borders to make clear what it represents.

In [ ]:
arg←⍳12
arg∘.×arg

In [ ]:
arg,[1]'-',[1]arg∘.×arg

In [ ]:
('×','-',arg),'|',arg,[1]'-',[1]arg ∘.×arg

Other tables have more practical uses:

In [ ]:
principal←1000×⍳6
rates←0.01×2+⍳4
terms←0,⍳6

In [ ]:
2⍕principal∘.×(1+rates)∘.*terms

What does that table represent?

To understand a more complex expression, first apply it to arguments suitable for getting an idea of its overall behavior. Then see what results from using the same arguments with the first partial expression that APL will execute, and proceed outward (from within parentheses) and leftward, taking progressively larger parts until the full expression is reconstructed. In this way you can learn how the individual parts of the expression combine to produce the final result.

In [ ]:
n←25
b←+/[1]+/[3]oil

In [ ]:
b

In [ ]:
countries,'.⎕'[1+b∘.≥(⌈/b)×(⍳n)÷n]

Don't spend too much time studying the above before continuing.

Since `b` is the result of summing `oil` over both months and years, it gives the total imports from each of the six sources over the entire seven-year period. The result of the above expression is a crude barchart of these totals, labelled with the country names. Now let's examine the individual parts of the full expression, giving names to intermediate results that we wish to use as input (arguments) at later stages to make it easier to see what happens at each stage.

In [ ]:
n

In [ ]:
⎕←fractions←(⍳n)÷n

In [ ]:
⎕←highest←⌈/b

In [ ]:
⎕←incs←highest×fractions

In [ ]:
spread←b∘.≥incs

In [ ]:
3 21↑1+spread

Why did we need to add 1?

In [ ]:
bars←'.⎕'[1+spread]

Now we see how the original works by substituting back the original code for each named result we used in our testing.

In [ ]:
bars←'.⎕'[1+b∘.≥incs]

In [ ]:
bars←'.⎕'[1+b∘.≥highest×fractions]

In [ ]:
bars←'.⎕'[1+b∘.≥(⌈/b)×fractions]

In [ ]:
bars←'.⎕'[1+b∘.≥(⌈/b)×(⍳n)÷n]

Finally, we turn it into a function, use a different width to show more detail, and add the country labels.

In [ ]:
BarChart←{'.⎕'[1+⍵∘.≥(⌈/⍵)×(⍳⍺)÷⍺]}

In [ ]:
countries,' ',40 BarChart b

Here’s another expression, written as a function. It produces exactly the same results as your previously defined `Diff`, but it does so rather differently A step-by-step analysis shows how.

In [ ]:
Diff2←{(d↓⍵)-(-d←⍺=⍳≢⍴⍵)↓⍵}

Start with by creating reasonable test arguments, and execute corresponding subexpressions in the APL session.

In [ ]:
a←3
w←oil

In [ ]:
(a Diff2 w)≡a Diff w

Starting from the right in the function definition, we see that the first function (`↓`) has a parenthesized expression for a left argument, so that must be evaluated before its value can be used.

In [ ]:
⍳≢⍴w

In [ ]:
a=⍳≢⍴w

In [ ]:
-d←a=⍳≢⍴w

In [ ]:
⍴t←(-d)↓w

In [ ]:
⍴tt←d↓w

Compare `t`, `tt`, and `w`

Month-to-month changes:

In [ ]:
(d↓w)-((-d)↓w)

In [ ]:
d←1=⍳≢⍴w

Year-to-year changes:

In [ ]:
(d↓w)-((-d)↓w)

In [ ]:
)erase d

The **name class** of the name `d`:

In [ ]:
⎕nc 'd'

`0` means unassigned.

In [ ]:
a Diff2 w

In [ ]:
⎕nc 'd'

`d` is still unassigned

A name assignment within a dynamically defined function is **local**, existing only within the function when it is executed, and does not affect any **global** (outside the function) assigned values... or lack of assigned values.

# Lesson 15: Parameters -- Global Variables vs. Arguments

In addition to collected data, computations are often based on fixed parameters, sometimes more than one set of parameters. As variables in the workspace, their values could be included as elements in composite arguments. But as long as their global names don't conflict with names of local variables within a function, those names can be used directly. Here we'll explore both techniques.

The exercise is discounted quantity pricing, where there is one price per item for the first few, then a lesser price for each additional item up to the next **bracket point**, an even lower **bracket price** for the next several, and so on.

In [ ]:
bracketPoints←0 2 5 10 25 100
bracketRates←25 20 18 15 12 10

Create copies with shorter names, for subsequent typing convenience.

In [ ]:
bp br←bracketPoints bracketRates

Incremental quantities in each bracket:

In [ ]:
bpi←1 Diff bp
bpi

One could reconstruct `bp` from `bpi`.

In [ ]:
bp ≡ 0,+\bpi

Value (cost) of each full bracket:

In [ ]:
bv←0,+\(¯1↓br)×bpi
bv

Various quantities:

In [ ]:
qty←1 2 3 7 22 50 60 80 122

Index of highest bracket point not greater than each quantity:

In [ ]:
ix←+/qty∘.>bp

Corresponding elements of each parameter:

In [ ]:
↑(bp[ix])(br[ix])(bv[ix])

Total cost for each quantity:

In [ ]:
costs←bv[ix]+br[ix]×qty-bp[ix]

Each quantity, its cost, and its average cost per item:

In [ ]:
⍉↑qty costs ((⌊0.5+100×costs÷qty)÷100)

We define the cost calculation in function form, using each of the above techniques for accessing parameters.  
The first function uses the global names of the parameters.  
The second function passes the parameters as a left argument.

In [ ]:
]dinput
BracketCost_g←{
    ix←+/⍵∘.>bracketPoints
    bv←0,+\(¯1↓bracketRates)×¯2 -/ bracketPoints
    rest←⍵-bracketPoints[ix]
    bv[ix]+bracketRates[ix]×rest
}

The result of a multi-line dynamic function is the result of the first executed line which doesn’t assign its result. That value is returned mmediately as the result of the function, and any subsequent code will be ignored..

Now use the same procedure to define the second function.  
This one takes the parameters as a left argument

In [ ]:
]dinput
BracketCost_a←{
    bp br←⍺
    ix←+/⍵∘.>bp
    bv←0,+\(¯1↓br)×¯2 -/ bp
    rest←⍵-bp[ix]
    bv[ix]+br[ix]×rest
}

Now we verify that both functions give the same results as the piecewise computation:

In [ ]:
costs ≡ BracketCost_g qty

In [ ]:
costs ≡ (bracketPoints bracketRates) BracketCost_a qty

# Lesson 18: Decisions, and “Canonical” Function Definition

Most programs need to “make decisions”, i.e., to select among different courses of action depending on some condition, some element or property of the data being processed, e.g., user input or the contents of a web page. The first example in this lesson implements a simple choice.

In [ ]:
]dinput
SumParity←{
    0=2|t←+/,⍵:'even'
    0=1|t:'odd'
    'non-integer'
}

In [ ]:
SumParity

Next is **recursion**, which builds a result by a function repeatedly calling itself until some terminating condition is met. `MultiPrompt` takes as its argument a vector of separate prompt texts and uses the function `Prompt` to present them one at a time and build up a corresponding vector of responses.

In [ ]:
Prompt←{⎕←⍵⋄⍞}

In [ ]:
]dinput
MultiPrompt←{
    ⍝ ⍵ should be a vector of text vectors
    0∊⍴⍵:⍬
    (⊂Prompt⊃¯1↑⍵),⍨MultiPrompt ¯1↓⍵
}

In [ ]:
txt←⊂'What is your favorite '
txt←txt,¨'colour?' 'number?' 'food?'
⍴t←MultiPrompt txt

Dynamically defined functions don’t lend themselves to some sorts of flow control, loops and block-structured code in particular. There is another form, **canonical** function definition, which can be used effectively in such cases. In fact, canonically defined functions are just as versatile as dynamically defined functions, though the two forms handle decision-making differently. Rather than the guards of dynamic functions, canonical functions use block structures delimited by control words to direct program flow.

In [ ]:
∇r←SumParity_c arg;t
 :If 0=2|t←+/,arg
     r←'even'
 :ElseIf 0=1|t
     r←'odd'
 :Else
     r←'non-integer'
 :EndIf
∇

In canonical functions the first line, or **header**, defines function name, the funciton’s syntax, and all local names. In the above example the function name is `SumParity_c`. It takes a single (right) argument, which is identified by the **local** name `arg`. The assignment arrow indicates that it returns a result, which is identified by the local name `r`. Unlike in dynamic functions, assignment to a name within a canonical function doesn’t automatically localize it. Instead, names are made local by listing them in the right-hand side of the header, preceding each with a semicolon. This has been done with the variable name `t` in the above function.

Test this function, comparing its results with the earlier `SumParity`.